/* ------------------------------------------------------------ 
Fonts setup
---------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

/* ------------------------------------------------------------ 
Color setup
---------------------------------------------------------------*/
:root {
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #FFFFFF;
    --body: #fefefe;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-image: linear-gradient(to right, #9c9c9c, rgb(255, 255, 255));
}


/* ------------------------------------------------------------ 
Setup components
---------------------------------------------------------------*/

/* button */
.btn {
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:hover {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:focus {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}



/* ------------------------------------------------------------ 
Navbar
---------------------------------------------------------------*/

.navbar .btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar {
    padding: 32px 0;
}

.nav-link {
    margin-left: 41px;
    font-size: 16px;
    color: var(--gray-1);
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: var(--black);
}

